* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}


body {
    background: linear-gradient(135deg, #1c1917, #292524);
    background-attachment: fixed;
    min-height: 100vh;
}


.social-nav button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


.social-nav {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
}

.social-nav a {
    display: inline-flex;
}

.social-nav img {
    width: 60px;
    height: 60px;
    opacity: 0.85;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-top: 50px;
    
}


.social-nav img:hover {
    opacity: 1;
    color: #fbbf24;
    transform: translateY(-5px);
    filter: drop-shadow(0 0 8px rgba(218, 201, 162, 0.4));
}

.social-nav img:active {
    transform: translateY(0);
    filter: drop-shadow(0 0 4px rgba(177, 171, 159, 0.2));
}

h1{
    color: #fde68a;
    text-shadow: 0px 2px 4px #0000;
    max-width: 800px;
    line-height: 1.8;
    letter-spacing: 0.08px;
    font-size: 60px;
}

p{
    color: #e7e5e4;
    text-shadow: 0px 2px 4px #0000;
    max-width: 1000px;
    font-size: 30px;
}

/* .escondido {
    display: none;
} */

#conteudo-sobre {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.5s ease , transform 0.5s ease, visibility 0.5s;

}

#conteudo-sobre.escondido {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.botao-whatsapp {
    display: inline-block;
    background-color: #E2D07E;
    color: #1a1a1a;
    padding: 12px 28px;
    margin-top: 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.botao-whatsapp:hover {
    background-color: #cbb86f;
    box-shadow: 0 4px 12px #0000;
    transform: translateY(-3px);
}

.botao-whatsapp:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px #0000;
}

@media (max-width: 768px) {

    .container {
        display: flex;
        text-align: center;
    }

    .social-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}